<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics performanceCounters="Off">
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <bindings>
      <netPeerTcpBinding>
        <binding name="NetPeerTcpBindingUnsecure">
          <security mode="None" />
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <!--You can change here the mesh address to support specific needs-->
      <endpoint address="net.p2p://Roniz.WCF.P2P.Sync.DefaultMeshAddress" binding="netPeerTcpBinding" bindingConfiguration="NetPeerTcpBindingUnsecure" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="SyncDefaultEndpointConfigurationName" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>

  <!--explicitly known type example when UseGenericResolver == false -->
  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        --><!--Allow p2p framework to work with application derived types--><!--
        --><!--Online announcement--><!--
        <add type="Roniz.WCF.P2P.Messages.Presence.FullPresenceInfo, Roniz.WCF.P2P.Messages">
          <knownType type="Roniz.WCF.P2P.ApplicationTester.Messages.MyFullPresenceInfo,Roniz.WCF.P2P.ApplicationTester" />
        </add>

        --><!--Offline announcement--><!--
        <add type="Roniz.WCF.P2P.Messages.Presence.CompactPresenceInfo, Roniz.WCF.P2P.Messages">
          <knownType type="Roniz.WCF.P2P.ApplicationTester.Messages.MyCompactPresenceInfo,Roniz.WCF.P2P.ApplicationTester" />
        </add>

        --><!--sync messages--><!--
        <add type="Roniz.WCF.P2P.Sync.Messages.BusinessLogic.BusinessLogicMessageBase, Roniz.WCF.P2P.Sync">
          --><!--sync request and response state keys only--><!--
          <knownType type="Roniz.WCF.P2P.ApplicationTester.Messages.MyKeysStateIdsContainer,Roniz.WCF.P2P.ApplicationTester" />

          --><!--state response state with keys & values--><!--
          <knownType type="Roniz.WCF.P2P.ApplicationTester.Messages.MyStateContainer,Roniz.WCF.P2P.ApplicationTester" />

          --><!--Update--><!--
          <knownType type="Roniz.WCF.P2P.ApplicationTester.Messages.MyUserUpdateState,Roniz.WCF.P2P.ApplicationTester" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->
</configuration>